parameters:
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
  level: 8
  treatPhpDocTypesAsCertain: false
  paths:
    - Classes
    - Tests
    - Configuration
  excludePaths:
    analyse:
      -  Tests/Functional/Fixtures/Extensions/*
  ignoreErrors:
    - "#Function Symfony\\\\Component\\\\DependencyInjection\\\\Loader\\\\Configurator\\\\abstract_arg not found#"
    - "#Class Symfony\\\\Component\\\\Messenger\\\\Bridge\\\\Redis\\\\Transport\\\\RedisTransportFactory not found#"
